.header {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 6;
  margin: 20px;
  width: 30%;
}

.header h3 {
  font-size: 18px;
  line-height: 20px;
}

#map {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#geocoder-container {
    position: absolute;
    top: 0;
    width: 60%;
    margin-top: 10px;
    margin-left: 40%;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:%;
}

#sidebar{
  background:rgba(40, 53, 61, 0.23);
}

.toggles {
  width: 320px;
}

.info {
  width: 320px;
  color: white;
}

.fill-darkblue-opaque {
  background-color: rgba(34, 59, 83, 0.4);
}

.button.stroke:hover {
  background-color: #3887be !important;
  color: rgb(255, 255, 255) !important;
}

.button.stroke {
  box-shadow: 0px 0px 0px 2px #223b53 inset !important;
  color: white;
}

.micro{
  font-weight: bold;
}

/*Count of overlay features*/
#feature-stats{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#feature-stats ul{
  text-align: right;
}
#feature-stats [data-count-feature]{
  font-weight: bold;
}
#logout {
    display: none;
    position: absolute;
    width: 60px;
    margin-top: 20px;
    right: 80px;
}
#user {
  position: absolute;
  display:none;
  font:normal 15px/20px 'Helvetica Neue', sans-serif;
  text-align:center;
  margin-top: 25px;
  right: 150px;
  color: white;
}

/*Mapbox geocoder control style override to fix issue with nav control*/
.mapboxgl-ctrl-geocoder {
  width: 100%;
}
#geocoder-container{
  width:30%;
}
